.blinking {
  -webkit-animation: 3s blink ease infinite !important;
  -moz-animation: 3s blink ease infinite !important;
  -ms-animation: 3s blink ease infinite !important;
  -o-animation: 3s blink ease infinite !important;
  animation: 3s blink ease infinite !important;
}

@keyframes "blink" {

  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-moz-keyframes blink {

  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-webkit-keyframes "blink" {

  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-ms-keyframes "blink" {

  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-o-keyframes "blink" {

  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.blin1{
  color: rgb(255, 0, 234);
}
#blin2{
  color:#0aeb0a;
  text-decoration: none;


}

.blin1:hover{
  color: #eb0a28;
}
#blin2:hover{
  color: #ffef08;
}